extends layout
block head
  title MatchMaker:#{profile.firstname}
  meta(charset='UTF-8')
  link(href='/css/layout.css', rel='stylesheet')
  link(href='/css/myaccount.css', rel='stylesheet')
  script(type='text/javascript', src='/js/script.js')

block content    
  #content
    #innerContent
      #yourDetails
      br
      br
      br
      .innerTopBanner
        h3.center #{profile.firstname} #{profile.lastname}'s Profile

      br

      p #{profile.age} year old #{profile.gender}
      h3.center About Me:
      p.myAccountP #{profile.bio}
      h3.center My Interests:
      each i in profile.interests
        p.myAccountP #{i}

      if(user && user.username == profile.username)
        a(href='/profile/edit') 
          button Edit Profile

      if(user && profile.username != user.username)
        a(href='/message/' + profile.username) 
          button Message User