html
  head
    title MatchMaker:#{profile.firstname}
    meta(charset='UTF-8')
    link(href='/css/layout.css', rel='stylesheet')
    link(href='/css/myaccount.css', rel='stylesheet')
    script(type='text/javascript', src='/js/script.js')
  body
    
    header
      .navigationBarTop
        img(src='/images/ml_adj.png', height='60', width='250', alt='Matchmaking logo')
        if (user)
          a(href='/logout') Logout
          a(href='/profile') #{user.username} 
        if (!user)
          a(href='/login') Login
          a(href='/register') Register
        a(href='matches.html') Matches
        a(href='/about') About
        a(href='/') Home
    
    #content
      #yourDetails
      br
      br
      br
      .innerTopBanner
        h3 #{profile.firstname} #{profile.lastname}'s Profile

      //PlaceHolder -> Profile Image should be loaded here
      img#profileImage(src='', width='200', height='200', alt='Your profile Image')
      
      if(user && user.username == profile.username)
        a(href='/profile/edit') Edit

      block content
        h3 About Me:
        p.myAccountP #{profile.bio}
        h3 My Interests:
        each i in profile.interests
          p.myAccountP #{i}

          