extends layout

block head
  title MatchMaker: Profile Editor
  link(rel='stylesheet', href='/css/create_profile.css')
  link(href='/css/layout.css', rel='stylesheet')
  script(type='text/javascript', src='/js/script.js')
  script(type='text/javascript', src='/js/profileEditor.js')

block content
  #content
    #innerContent
      .container
        br
        br
        h3 Profile Editor
        br


        form(id='profile', action="/profile", method="post")
          label(for='firstname') First Name:
          if (profile && profile.firstname) 
            input(type='text', id='firstname', name='firstname', value=profile.firstname)
          else
            input(type='text', id='firstname', name='firstname')

          label(for='middlename') Middle Name:
          if (profile && profile.middlename) 
            input(type='text', id='middlename', name='middlename', value=profile.middlename)
          else
            input(type='text', id='middlename', name='middlename')

          label(for='lastname') Last Name:
          if (profile && profile.lastname) 
            input(type='text', id='lastname', name='lastname', value=profile.lastname)
          else
            input(type='text', id='lastname', name='lastname')

          label(for='bio') About Me (Max. 2000 Characters):
          br
          textarea(form='profile', id='bio', name='bio', maxlength=2000, rows=9)
            if (profile && profile.bio) 
              |#{profile.bio} 
          br

          label(for='age') Age:
          if (profile && profile.age)
            input(type='number', id='age', name='age', value=profile.age)
          else
            input(type='number', id='age', name='age')
            
          label(for='gender') Gender:
          br
          select(name='gender', id='gender')
            option(value='') Please Choose...
            if (profile && profile.gender == 'male')
              option(value='male', selected='selected') Male
            else
              option(value='male') Male
            if (profile && profile.gender == 'female')
              option(value='female', selected='selected') Female
            else
              option(value='female') Female

          label() Interests:
          #interests
            if (profile && profile.interests)
              each i in profile.interests
                input(type='text', form='profile', name='interests', value=i)
            else
              input(type='text', form='profile', name='interests')

          input(type='button', value="Add Interest", onclick='addInterest()')
          input(type='button', value="Remove Interest", onclick='removeInterest()')
          input(type='submit', value='Submit')
