doctype html
html
  head
    title= Register
    link(rel='stylesheet', href='/css/create_profile.css')
    link(href='/css/layout.css', rel='stylesheet')
    script(type='text/javascript', src='/js/script.js')
  body

    header
      .navigationBarTop
        img(src='images/ml_adj.png', height='60', width='250', alt='Matchmaking logo')
        if (user)
          //TODO Link to account settings
          a(href='/logout') Logout
          a(href='/') #{user.username} 
        if (!user)
          a(href='/login') Login
          a(href='/register') Register
        a(href='matches.html') Matches
        a(href='/about') About
        a(href='/') Home

    #content
      .container
        br
        br
        h3 Registration Page
        br
        form(action="/register", method="post")
          label(for='username') Enter Username:
          if (form && form.username)
            input(id='username', type='text', name='username', value=form.username)
          else
            input(id='username', type='text', name='username')         
          label(for='email') Enter Email Address:
          if (form && form.email)
            input(id='email', type='email', name='email', value=form.email)
          else
            input(id='email', type='email', name='email')
          label(for='password') Enter Password:
          input(id='password', type='password', name='password')
          input(type='submit', value='Register')
          if (error)
            p #{error}